
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact List</title>
</head>
<body>
    <h2>Contact List</h2>
    <table border="1">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Actions</th>
        </tr>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact.first_name }}</td>
            <td>{{ contact.last_name }}</td>
            <td>{{ contact.phone_number }}</td>
            <td>
    <a href="{% url 'contact_edit' contact.pk %}">Edit</a> |
    <a href="{% url 'contact_delete' contact.pk %}" onclick="return confirm('Are you sure you want to delete this contact?')">Delete</a>
     </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'contact' %}">Add New Contact</a>
</body>
</html>
